.navbar {
  background-color: rgb(80, 79, 79);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
}

.myInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 70%;
  list-style: none;
  padding: 4px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  width: 250px;
  height: 60vh;
  display: flex;

  position: fixed;
  left: -150%;
}

.nav-menu-active {
  display: flex;
}

.nav-text {
  justify-content: start;
  align-items: center;
  padding: 8px 0px 5px 0px;
  list-style: none;
  height: 30px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 70%;
  height: 100%;
  align-items: center;
  padding: 2 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(223, 108, 41);
  border-radius: 10%;

  justify-content: start;
  margin: 0%;
}

.nav-menu-items {
  width: 70%;
  margin-top: 30px;
  margin-left: 6.5%;
  z-index: 100;
  display: flex;
  align-content: left;
  flex-direction: row;
  position: fixed;
}

span {
  margin: 20px;
}
