.navbar {
  background-color: rgb(77, 80, 104);
  height: 100px;
  opacity: 90%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
}

.menu-bars {
  margin-left: 4rem;
  font-size: rem;
  background: none;
}

.home {
  margin-left: -6rem;
}

.home a:hover {
  background-color: rgb(223, 108, 41);
  border-radius: 10%;
}

.nav-menu {
  width: 250px;
  height: 60vh;
  display: flex;

  position: fixed;
  left: -150%;
}

.nav-menu-active {
  display: flex;
  margin-left: 4.5rem;
}

.nav-text {
  justify-content: start;
  align-items: center;
  padding: 8px 0px 5px 0px;
  list-style: none;
  height: 30px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 70%;
  height: 100%;
  align-items: center;
  padding: 2 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(223, 108, 41);
  border-radius: 10%;

  justify-content: start;
  margin: 0%;
}

.nav-menu-items {
  width: 70%;
  margin-top: 28px;

  z-index: 100;
  display: flex;

  position: fixed;
  flex-wrap: wrap;
}

span {
  margin: 20px;
}
