@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.homePage {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 10%;
}

.intro {
  background-color: #ffffff;
  z-index: -10;
  align-self: center;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  margin: 0%;
}

.projects {
  background-color: #ffffff;
  z-index: -10;
  border-radius: 30px;
  margin: 10%;
  padding: 50px;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 20px #000000b3;
}

.project-items {
  width: 75px;
  height: 75px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Holtwood One SC", serif;
  line-height: 45px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-family: "Holtwood One SC", serif;
  text-align: center;
}

button {
  background-color: #000000;
  font-size: 1rem;
  text-align: center;
}

form {
  box-shadow: 0 0 20px #000000b3;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}
