@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.home {
  background-color: #e1e3f7;
  text-align: center;
  border-radius: 30px;
  margin: 10%;
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Holtwood One SC", serif;
  line-height: 45px;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: "Holtwood One SC", serif;
  text-align: center;
}

button {
  background-color: pink;
  font-size: 3rem;
  border-radius: 10px;
}
