@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.homePage {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 10%;
}

.intro {
  background-color: #c2c1b5;
  z-index: -10;
  width: 80%;
  align-self: center;
  padding: 20px;
  border-radius: 30px;
  margin: 5%;
}

.projects {
  background-color: #c2c1b5;
  z-index: -10;
  width: 90%;
  border-radius: 30px;
  margin: 10%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Holtwood One SC", serif;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
}

h2 {
  font-family: "Holtwood One SC", serif;
  text-align: center;
}

button {
  background-color: #ff9a02;
  font-size: 1rem;
  text-align: center;
}

form {
  width: 80%;
  background-color: #c2c1b5;
  padding: 25px;
  border-radius: 30px;
  margin: 10%;
}

label {
  font-family: "Holtwood One SC", serif;

  font-size: 12px;
}
